@import url('./calendar.css');
@import url('./main-content.css');
@import url('./footer-nav.css');

* {
  box-sizing: border-box;
}

body {
  background-color: #cadddd;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #7A9E9F;
}

.logo {
  display: block;
  margin-right: 5px;
  height: 45px;
  width: 45px;
}

h1 {
  font-size: 2em;
  color: #EEF5DB;
}

.user-section {
  display: none;
}

.sidebar {
  display: none;
}

@media only screen and (min-width: 550px)  {

  body {
    background-color: #fff;
  }

  header {
    position: fixed;
    width: 100%;
    padding: 0 10px;
    box-shadow: 1px 1px 3px 1px #769090;
    z-index: 5;
  }

  header h1 {
    margin-right: auto;
  }

  .icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 5px 0 5px 5px;
    border: 3px solid #EEF5DB;
    border-radius: 50%;
  }

  .user-section {
    display: flex;
    align-items: center;
    color: #EEF5DB;
    font-size: 1.3em;
  }

  .wrapper {
    display: flex;
    padding: 58px 0 0 0;
  }

  .sidebar {
    position: fixed;
    width: 30%;
    height: 100%;
    display: block;
    background-color:#cadddd;
    list-style: none;
  }

  .sidebar:first-child:hover {
    border-top: 1px solid #4f6367;

  }

  li {
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #4f6367;
    color: #4f6367;
    font-weight: 700;
    cursor: pointer;
  }

  li:hover {
    background-color: #839D9E;
    color: #EEF5DB;
  }
}

@media screen and (min-width: 850px) {
  .sidebar {
    width: 25%;
  }
}
