@import url('./calendar.css');
@import url('./main-content.css');
@import url('./footer-nav.css');

* {
  box-sizing: border-box;
}

body {
  background-color: #cadddd;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #7A9E9F;
}

.logo {
  display: block;
  margin-right: 5px;
  height: 45px;
  width: 45px;
}

h1 {
  font-size: 2em;
  color: #EEF5DB;
}

.user-section {
  display: none;
}

.sidebar {
  display: none;
}

@media only screen and (min-width: 650px)  {
  body {
    background-color: #fff;
  }

  header {
    justify-content: initial;
  }

  .user-section {
    display: block;
    margin-right: 10px;
    position: absolute;
    right: 0;
    color: #EEF5DB;
    font-size: 1.3em;
  }

  .sidebar {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    background-color:#cadddd;
    list-style: none;
  }

  .notification {
    padding: 2px;
    background-color: #4f6367;
    border-radius: 10px;
    color: #EEF5DB;
    font-size: .5em;
  }

  li {
    padding: 25px;
    text-align: center;
    border: 1px solid #4f6367;
    color: #4f6367;
    font-weight: 700;
  }

  li:hover {
    background-color: #839D9E;
    color: #EEF5DB;
  }
}
