@import url('./calendar.css');
@import url('./main-content.css');
@import url('./footer-nav.css');

* {
  box-sizing: border-box;
}

body {
  background-color: #cadddd;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #7A9E9F;
}

.logo {
  display: block;
  margin-right: 5px;
  height: 45px;
  width: 45px;
}

h1 {
  font-size: 2em;
  color: #EEF5DB;
}
