.main-content-mobile {
  margin: 0 0 100px 0;
}

.main-content {
  display: none;
}

.step-counter {
  display: block;
  width: 60%;
  margin: 20px auto;
}

.steps {
  color: #4f6367;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: .5pt;
  text-align: center;
  text-transform: uppercase;
}

.overview {
  width: 85%;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.stat-icon {
  height: 30px;
  width: 30px;
  margin: 0 0 3px 0;
}

.stat p {
  color: #4f6367;
  margin: 3px 0;
  font-size: 1em;
}

.stat span {
  color: #fe5f55;
  font-size: .95em;
  font-weight: 700;
}

/****** Mobile Btn ******
*************************/

.mobile-btn {
  width: 70%;
  margin: 0 auto;
}

.start-btn {
  width: 100%;
  padding: 8px 0;
  background-color: #7A9E9F;
  border-radius: 5px;
  border-style: none;
  color: #EEF5DB;
  cursor: pointer;
  font-size: 1.5em;
  letter-spacing: 1pt;
}

.start-btn:hover {
  background-color: #fe5f55;
}

@media only screen and (min-width: 550px)  {

  .main-content-mobile {
    display: none;
  }

  .main-content {
    position: absolute;
    right: 0;
    display: block;
    width: 70%;
    overflow: auto;
  }

  h2 {
    font-size: 1.3em;
    font-weight: 700;
    color: #4f6367;
  }

  h4 {
    font-size: 1.5em;
    font-weight: 700;
    color: #4f6367;
  }

  h5 {
    color: #FF5F55;
    font-weight: 700;
  }

  h6 {
    color: #EEF5DB;
    font-size: .8em;
  }

  .today,
  .this-week,
  .recent-workouts,
  .goals-dsk {
    margin: 15px;
    padding: 10px;
    background-color: #B8D8D8;
  }

  /**** Today Section ****/

  .today h2 {
    text-align: center;
    padding: 10px;
  }

  .today-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .today-stats-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    margin: 10px 0;
  }

  .stats-today {
    margin: 0 15px;
    text-align: center;
  }

  .stats-today > * {
    margin: 3px 0;
  }

  .graph {
    display: block;
    margin: 0 auto;
    height: 70%;
    width: 70%;
  }

  .recent-workouts,
  .goals-dsk {
    display: none;
  }

  /* This Week Section */

  .this-week-container {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
  }

  .this-week h2 {
    text-align: center;
    padding: 10px;
  }

  .week-graph {
    display: block;
    height: 70%;
    width: 80%;
    margin: 20px auto;
  }

  .weekly-wrap {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .weekly-wrap > p {
    color: #fff;
    text-align: center;
  }

  .weekly-stats-wrap {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
  }

  .stat-types {
    color: #fff;
  }

  .stat-values {
    color: #FF5F55;
  }

  .stat-type,
  .stat-value {
    margin: 10px 0;
  }

  /* Recent Works Section */

  .recent-workouts {
    display: block;
    color: #4f6367;
  }

  .workout-overview {
    display: flex;
    margin: 10px 0;
    border-bottom: 1px solid;
  }

  .date {
    display: block;
    margin: 0 auto 3px 0;
    font-weight: 300;
  }

  .activity {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
  }

  .recent-stat {
    margin: 3px;
    font-weight: 600;
    opacity: .85;
  }

  /* Goals Works Section */


  .goals-dsk {
    display: block;
    position: relative;
  }

  .goals-dsk h2 {
    margin: 0 0 10px 0;
  }

  .add-goal {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #4f6367;
    font-size: .8em;
  }

  .add {
    margin: 0 0 0 5px;
    height: 15px;
    width: 15px;
  }

  .goal {
    display: flex;
    align-items: center;
    color: #4f6367;
    margin: 5px 0;
    opacity: .9;
  }

  .trophy {
    display: block;
    margin: 0 10px 0 0;
    height: 20px;
    width: 20px;
  }


@media screen and (min-width: 850px) {

  .today h2,
  .this-week h2 {
    text-align: left;
  }

  .today-container,
  .this-week-container {
    flex-direction: row;
    align-items: center;
    width: 98%;
    justify-content: space-between;
  }

  .graph {
    height: 45%;
    width: 45%;
    order: 2;
    margin: 0;
  }

  .this-week-container {

  }

  .week-graph {
    width: 55%;
  }

  .weekly-wrap {
    width: 40%;
  }

  .goals-workouts {
    display: flex;
    justify-content: space-between;
  }

  .recent-workouts,
  .goals-dsk {
    width: 48%;
  }

  .goals-dsk {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}







  /*.weekly-totals {
    margin-right: -60px;
    -webkit-transform: rotate(-90deg);*/

    /* Firefox */
    /*-moz-transform: rotate(-90deg);*/

    /* IE */
    /*-ms-transform: rotate(-90deg);*/

    /* Opera */
    /*-o-transform: rotate(-90deg);*/

    /* Internet Explorer */
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
  /*}
}*/
