* {
  box-sizing: border-box;
}

body {
  background-color: #cadddd;
  font-family: "Open Sans";
  font-size: 16px;
}

/****** App Header ******
************************/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #7A9E9F;
}

.logo {
  display: block;
  margin-right: 5px;
  height: 45px;
  width: 45px;
}

h1 {
  font-size: 2em;
  color: #EEF5DB;
}

/******* Calendar *******
*************************/

.calendar {
  display: flex;
  justify-content: space-around;
  margin: 5px 0 0 0;
  border-top: 2px solid rgba(122, 158, 159, .3);
  border-bottom: 2px solid rgba(122, 158, 159, .3);
}

.day-wrap {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4f6367;
  cursor: pointer;
}

.day-wrap:hover {
  background-color: #7A9E9F;
  color: #fe5f55;
  font-weight: 700;
}

.day-wrap p {
  margin: 5px;
  text-transform: uppercase;
}

.number {
  font-size: 1.6em;
}

/***** Steps Section *****
*************************/

.step-counter {
  display: block;
  width: 60%;
  margin: 20px auto;
}

.steps {
  color: #4f6367;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.overview {
  width: 80%;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.stat-icon {
  height: 25px;
  width: 25px;
}

.stat p {
  color: #4f6367;
  margin: 3px 0;
  font-size: .8em;
}

.stat span {
  color: #fe5f55;
  font-size: .7em;
  font-weight: 700;
}
